{{>layout/admin-header}}

{{^loginUserName}}
    <a href="/oauth2/authorization/kakao">
        <img src="/images/btn-login.png" class="btn-login">
    </a>
{{/loginUserName}}
{{#loginUserName}}
    <h2>{{loginUserName}}</h2>
    <a href="/logout">
        <span class="span-logout">로그아웃</span>
    </a>
{{/loginUserName}}

{{>layout/admin-footer}}