<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://uicdn.toast.com/tui.code-snippet/v1.5.2/tui-code-snippet.min.js"></script>
<script src="https://uicdn.toast.com/tui.time-picker/v2.0.3/tui-time-picker.min.js"></script>
<script src="https://uicdn.toast.com/tui.date-picker/v4.0.3/tui-date-picker.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chance/1.0.13/chance.min.js"></script>
<script src="/js/calendar/tui-calendar.js"></script>
<script src="/js/calendar/calendars.js"></script>
<script type="text/javascript">
    var MONTHLY_CUSTOM_THEME = {
      'common.border': '1px solid #e5e5e5',
      'common.backgroundColor': 'white',
      'common.holiday.color': '#ff4040',
      'common.saturday.color': '#333',
      'common.dayname.color': '#333',
      'common.today.color': '#333',

      // creation guide style
      'common.creationGuide.backgroundColor': 'rgba(81, 92, 230, 0.05)',
      'common.creationGuide.border': '1px solid #515ce6',

      // month header 'dayname'
      //'month.dayname.height': $( window ).outerHeight(true)/20 + 'px', //요일이 출력되는 div height
      'month.dayname.borderLeft': 'none', //요일이 출력되는 div 왼쪽 테두리
      'month.dayname.backgroundColor': 'inherit', //요일이 출력되는 div 배경색 (inherit=상속=흰색)
      'month.dayname.fontSize': '1.5rem', //요일이 출력되는 div 글자 크기
      'month.dayname.fontWeight': '700', //요일이 출력되는 div 글자 두께
      'month.dayname.textAlign': 'center', //요일이 출력되는 div 글자 정렬
      'month.dayname.paddingLeft': '0', //요일이 출력되는 div 글자 왼쪽 패딩
      'month.dayname.paddingRight': '0', //요일이 출력되는 div 글자 오른쪽 패딩

      // month day grid cell 'day'
      'month.holidayExceptThisMonth.color': 'rgba(255, 64, 64, 0.4)', //이번달이 아닌 일요일 글자 색
      'month.dayExceptThisMonth.color': 'rgba(51, 51, 51, 0.4)', //이번달이 아닌 요일 글자 색
      'month.weekend.backgroundColor': 'inherit', //주말 div 배경색 (inherit=상속=흰색)
      'month.day.fontSize': '1.4rem', //날짜 글자 크기

      // month schedule style
      'month.schedule.borderRadius': '0px',
      'month.schedule.height': '22px',
      'month.schedule.marginTop': '2px',
      'month.schedule.marginLeft': '0px',
      'month.schedule.marginRight': '0px',
    };

    var cal = new tui.Calendar('#calendar', {
      defaultView: 'month',
      theme: MONTHLY_CUSTOM_THEME // set theme
    });

    cal.setCalendars([
      {
        id: 'Major Subject',
        name: '전공 필수',
        color: '#ffffff',
        bgColor: '#ff5583',
        dragBgColor: '#ff5583',
        borderColor: '#ff5583'
      },
      {
        id: 'Elective Subject',
        name: '전공 선택',
        color: '#ffffff',
        bgColor: '#ffbb3b',
        dragBgColor: '#ffbb3b',
        borderColor: '#ffbb3b'
      },
      {
        id: 'General Subject',
        name: '일반 교양',
        color: '#ffffff',
        bgColor: '#03bd9e',
        dragBgColor: '#03bd9e',
        borderColor: '#03bd9e'
      }
    ]);

    var schedules = [
      {
        id: '1',
        calendarId: 'Major Subject',
        title: '자료구조론',
        category: 'allday',              // 일반 일정
        start: '2022-04-18T10:00',
        end: '2022-04-20T11:00'
      },
      {
        id: '2',
        calendarId: 'Elective Subject',
        title: '웹 프로그래밍',
        category: 'allday',
        start: '2022-04-18T14:00:00',
        end: '2022-04-18T15:00:00'
      },
      {
        id: '3',
        calendarId: 'General Subject',
        title: '영양과 건강',
        category: 'allday',
        start: '2022-04-18T13:00:00',
        end: '2022-04-18T14:00:00'
      }];

    cal.clear();
    cal.createSchedules(schedules, true);
    cal.render();

    //userNotification에 따른 체크박스 On / Off
    //const userCode = document.getElementById('userCode').value;
    //const userNotification = document.getElementById('userNotification').value;

    /*function userNotification() {
      switch(userNotification) {
        case 'Y' : //카카오톡 알림 O

          break;

        case 'N' : //카카오톡 알림 X
          break;

        case '1' : //카카오톡 하루 전 알림만
          break;

        case '2' : //카카오톡 10분 전 알림만
          break;

        case '3' : //카카오톡 하루 전, 10분 전 둘다 알림
          break;
      }
    }*/

    window.onload = function() {
      //달력 클릭
      $('.tui-full-calendar-near-month-day').on('click', function () {
        var date = (today.text().replace('.', '')) + (this.innerText < 10 ? '0'+this.innerText : this.innerText);
        alert(date);
      });
    }

    //사이드바 버튼 클릭
    $('#btn-sidebar').on('click', function () {
      $(".div-opacity").show();
      $('.div-sidebar').show();
      $('.div-sidebar').css('animation-duration', '0.3s');
      $('.div-opacity').css('opacity', '0.65');
      $('.div-opacity').css('z-index', '990');
    });

    //검색 버튼 클릭

    //불투명 배경 클릭
    $('.div-opacity').on('click', function () {
      $(".div-opacity").hide();
      $('.div-sidebar').hide();
      $('.div-opacity').css('opacity', '0');
      $('.div-opacity').css('z-index', '-9900');
    });

    //Today 버튼 및 오늘 div 클릭
    var save_today, real_today;
    let today = $("#renderRange");
    var today_count = 0;
    function calendar_today() {$(".move-today").click(); today_count=0;}
    $("#btn-today").on("click", function() {
      calendar_today();
    });
    $(".div-today").on("click", function() {
      calendar_today();
      $(".div-today").hide();
    });

    //저번달 버튼 클릭
    function calendar_prev() {$(".move-prev").click(); today_count+=1}
    $("#btn-prev").on("click", function() {
      calendar_prev();
    });

    //다음달 버튼 클릭
    function calendar_next() {$(".move-next").click(); today_count+=1}
    $("#btn-next").on("click", function() {
      calendar_next();
    });

    //모바일 스와이프
    var start_x, start_y, end_x, end_y;
    const calendar_div = document.querySelector("#calendar");

    calendar_div.addEventListener('touchstart', touch_start);
    calendar_div.addEventListener('touchend', touch_end);

    function touch_start(event) {
      start_x = event.changedTouches[0].screenX;
      start_y = event.changedTouches[0].screenY;
    }

    function touch_end(event) {
      end_x = event.changedTouches[0].screenX;
      end_y = event.changedTouches[0].screenY;

      if(start_y-end_y > 50) { //아래서 위로
      } else if(end_y - start_y > 50) { //위에서 아래로
      } else { //기본 터치
      }

      if(start_x - end_x > 50) { //오른쪽에서 왼쪽으로
        if(today_count == 0) save_today = today.text();
        calendar_next();
        real_today = today.text();

        if(save_today == real_today) {
          $(".div-today").hide();
        } else {
          if(save_today < real_today) {
            $(".div-today").text("< 오늘");
          } else {
            $(".div-today").text("오늘 >");
          }
          $(".div-today").show();
        }
      } else if(end_x - start_x > 50) { //왼쪽에서 오른쪽으로
        if(today_count == 0) save_today = today.text();
        calendar_prev();
        real_today = today.text();

        if(save_today == real_today) {
          $(".div-today").hide();
        } else {
          if(save_today > real_today) {
            $(".div-today").text("오늘 >");
          } else {
            $(".div-today").text("< 오늘");
          }
          $(".div-today").show();
        }
      } else { //기본 터치
      }
    }
  </script>
<script src="/js/calendar/default.js"></script>
</body>
</html>